/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Container */
.container {
  background: white;
  backdrop-filter: blur(8px);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  width: 90%;
  max-width: 800px;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 2rem;
}

/* Logo */
.logo {
  height: 80px;
  animation: spin 10s linear infinite;
}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header h1 {
  margin-top: 1rem;
  font-size: 2.5rem;
  color: #38bdf8;
}

/* About Section */
.about {
  margin-bottom: 2rem;
  text-align: start;
}

.about h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.about h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: black;
}

.about p {
  font-size: 1rem;
}

/* Divider */
hr {
  border: none;
  border-top: 1px solid #475569;
  margin: 2rem 0;
}

/* Goals Section */
.goals h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #38bdf8;
}

.goals p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.goals ul {
  margin-left: 1.5rem;
  list-style-type: disc;
}

.goals li {
  margin-bottom: 0.5rem;
}
